body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(226,226,226);
    font-family: sans-serif;
    line-height: 1,5;
}

.container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}



#options{
     margin-top: 6%;
     margin-bottom: 8%;
    }

.container.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1,5rem;
    padding-top: 50px;
}   

.box{
    padding-top: 5px;
    background-color: #fff;
    text-align: center ;
    box-shadow: 5px 0px 18px #888888;
    display: grid;

}

.tilbake a{
    text-align: left;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.tilbake h3{
    text-align: left;
    text-decoration: none;
    color: rgb(0, 95, 201);
}

.tilbake ul{
    color: rgb(0, 95, 201);;
}

.box1{
    padding-top: 5px;
    background-color: #fff;
    text-align: left ;
    box-shadow: 5px 0px 18px #888888;
    width: 214px;
    height: 140px;
}
@media(max-width:700px){ 
    .container .grid .box{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
}
    